:root {
    --primary-color: #4D63DD;
    --background-color: #444654;
    --secondary-color: #343541;
    --text-color: #fff;
    --font: "Google Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font);
}

h2 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: bold;
    font-family: var(--font);
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 90vw;
    max-width: 1280px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-3 {
    width: 25%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    overflow: hidden;
}

.col-7 {
    width: 57.44%;
}

.col-9 {
    width: 75%;
}

.col-12 {
    width: 100%;
}

header {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0px;
}

ul.horizontal_menu {
    display: flex;
    padding: 20px;
    justify-content: end;
}

ul.horizontal_menu .menu_link {
    padding: 10px;
    font-size: 20px;
}

#content {
    margin-top: 50px;
}

.article {
    display: flex;
    column-gap: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 30%;
}

.img {
    width: 40%;
}

.details .title {
    font-size: 24px;
}

.actions ul {
    display: flex;
    column-gap: 10px;
    font-size: 18px;
    margin-top: 30px;
}


h3.title {
    font-size: 30px;
    color: #fff;
}

a.new_btn {
    background: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.page {
    display: none;
}

#dashboard {
    display: block;
}

form#posts_form {
    width: 100%;
    margin-top: 50px;
}

form#posts_form input[type="text"],
form#posts_form input[type="file"],
form#posts_form textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: navajowhite;
}

.input_container {
    padding: 10px 0px;
}

.primary_btn {
    background: var(--secondary-color);
    padding: 10px 27px;
    font-size: 18px;
    text-transform: CAPITALIZE;
    border-radius: 10px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

input[type="file"] {
    background: #fff;
}

.input_container label {
    color: #fff;
    border-bottom: 1px solid;
    width: 100%;
}

.input_container textarea {
    min-height: 280px;
    resize: vertical;
}

.options h3 {
    color: #fff;
    margin-bottom: 20px;
}

.options label {
    margin-left: 10px;
}